@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body,
input,
button,
select {
  font-family: "Montserrat", sans-serif;
}

.container {
  position: relative;
  top: 50px;
  width: 50vw;
  background-color: azure;
  padding: 10px 25px;
  margin: auto;
  border: 3px solid black;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container > form > h1 {
  text-align: center;
}
.form-item {
  box-sizing: border-box;
  margin: 15px;
}
.form-item > label {
  display: block;
}
.form-item > input[type="text"] {
  width: 100%;
}
