.container {
  top: 1px;

  width: 50%;

  height: 100%;

  background: #d9a7c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fffcdc,
    #d9a7c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fffcdc,
    #d9a7c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  position: relative;

  margin: auto;

  border: 1px black dotted;

  padding: 50px;

  border-radius: 10px;
}

form > h2 {
  text-align: center;
}

.form-item {
  box-sizing: border-box;

  margin: auto;
}

.form-item > label {
  display: block;
}

.form-item > input[type="text"] {
  width: 100%;
}
